/**
 * ===================================================================
 *
 *  Finnegan Nguyen
 *  04/13/2024
 *  ------------------------------------------------------------------
 *  TOC:
 *  01. Typography & general theme styles
 *  02. Navbar
 *  03. Landing page
 *  04. Floating images
 *  05. About page - Introduction
 *  06. Skills
 *  07. Timeline
 *  08. Coming Soon (Temporary)
 * ===================================================================
 */

/**
 * ===================================================================
 * 01. Typography & general theme styles
 *
 * -------------------------------------------------------------------
 */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/**
 * ===================================================================
 * 02. Navbar
 *
 * -------------------------------------------------------------------
 */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar ul li a:hover {
    color: #ddd;
}

/**
 * ===================================================================
 * 03. Landing page
 *
 * -------------------------------------------------------------------
 */
body.landing {
    font-family: "Exo 2";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

body.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background_mountain_enhanced2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    text-align: center;
    position: relative;
    z-index: 1;
}

.main-content p, .main-content h1 {
    width: 60%;
    margin: 0 auto;
}

.landing h1 {
    font-family: "Exo 2";
    font-size: 60px;
}


.landing p {
    font-family: "Exo 2";
    font-size: 20px;
}

.landing h1, .landing h3, .landing p {
    color: white !important;
}

.landing h2 {
    color:#fff8d8 !important;
    font-family: "Roboto";
    font-size: 40px;
}

@media (max-width: 1000px) {
    .main-content {
        width: 90%;
        margin-bottom: 5vh;
    }
}

/**
 * ===================================================================
 * 04. Floating images
 *
 * -------------------------------------------------------------------
 */
.floating-images-container {
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    display: flex;
    justify-content: space-around;
}


.floating-image {
    position: absolute;
    bottom: 50%;
    width: 100px;
    height: auto;
    display: none;
    opacity: 0;
}

@keyframes floatUp {
    0% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

/**
 * ===================================================================
 * 05. About page - Introduction
 *
 * -------------------------------------------------------------------
 */
body.about {
    font-family: "Exo 2";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #f6e8bd;
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.intro-info {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
}

.intro-info img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-right: 20px;
}

.intro-info .lead {
    margin-bottom: 1em;
}

/**
 * ===================================================================
 * 06. Skills
 *
 * -------------------------------------------------------------------
 */
.skills-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.skills-info h2, .skills-info p {
    margin: 0;
    padding: 5px 0;
    color: #fff8d8;
}

/**
 * ===================================================================
 * 07. Timeline
 *
 * -------------------------------------------------------------------
 */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
  
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 2px;
    background: #C5C5C5;
}
  
.timeline-item {
    padding: 20px 0;
}
  
.timeline-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F8F8F8;
    transform: translateX(-50%);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    z-index: 100;
}
  
.timeline-content {
    width: 40%;
    padding: 0 20px;
    background: #FFF8DC;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
  
.timeline-item:nth-child(odd) .timeline-content {
    float: right;
}
  
.timeline-item:nth-child(even) .timeline-content {
    float: left;
}
  
h2 {
    font-size: 16px;
    margin: 0 0 10px;
}
  
p {
    margin: 0;
}
  

.timeline-item:after {
    content: '';
    display: block;
    clear: both;
}
  
.coming-soon {
    text-align: center;
    padding: 100px 20px;
    background: #f9f9f9;
    color: #333;
    font-family: 'Playfair Display', serif;
}

/**
 * ===================================================================
 * 08. Coming Soon (Temporary)
 *
 * -------------------------------------------------------------------
 */
.coming-soon h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.coming-soon p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.coming-soon a {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Exo 2';
    transition: background-color 0.3s ease;
}

.coming-soon a:hover {
    background: #0056b3;
    text-decoration: none;
}
